@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #172b4d;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #f1f2f4;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 25px;
  text-align: left;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
 
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #172b4d;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #172b4d;

}

.todo-input::placeholder {
  color: #697282;

}

.todo-btn {
  background: #172b4d;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  color: #172b4d;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #172b4d;
  cursor: pointer;
}

.completed {
  color: #63738e;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 